@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap");

:root {
  --primary-color: #ff0a6b;
  --secondary-color: #ff5100;

  --grey-color: #726f73;
  --grey-color-2: #ececec;

  --black-color: #19191a;

  --white-color: #f9f9f9;
  --white-color-2: #e9e9e9;

  --font-family: "Roboto", sans-serif;

  --border-radius-1: 20px;
  --border-radius-2: 50%;

  --box-shadow-1: 0px 5px 15px -9px var(--grey-color);
}

*,
body,
html {
  margin: 0;
  padding: 0;
}

a {
  color: var(--white-color);
  text-decoration: none;
}

ul{
  list-style: none;
}

body {
  font-family: var(--font-family);
  background: var(--white-color);
  color: var(--grey-color);

  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
.header-container {
  position: relative;
  width: 100vw;
  margin-top: 5px;
  padding: 0px 60px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  width: 100%;
  display: flex;
  font-weight: 500;
  color: var(--black-color);
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
}

ul li.left {
  display: flex;
  align-items: center;
}

ul li.left .uil-bars {
  font-size: 1.3rem;
}

ul li.left .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 15px;
}

ul li.left .button {
  background: var(--white-color);
  border-radius: var(--border-radius-1);
  padding: 10px 15px;
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button,
button,
.play-button i,
header ul li.left .uil-bars,
a.button,
.ads, .nav span, .group span {
  cursor: pointer;
}

ul li.left .button i {
  font-size: 1.3rem;
  margin-right: 10px;
  color: var(--primary-color);
}

ul li.center {
  font-size: 3rem;
}

ul li.right {
  display: flex;

  align-items: center;
  margin-right: 30px;
}

header form {
  margin-bottom: 0;
}

ul li.right .form-control {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-1);
}

ul li.right .form-control label{
  order: 2;
}

ul li.right input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

ul li.right button {
  background: var(--primary-color);
  border: none;

  border-radius: var(--border-radius-2);
  padding: 8px 10px;
  color: var(--white-color);
  box-shadow: var(--box-shadow-1);
}

nav {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;

  align-items: center;
}

nav .navbar-content {
  padding: 0px 60px;
  width: 85%;
  display: flex;
  justify-content: center;
}

.navbar-content .navbar-texts {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 2rem;
}
.navbar-content a {
  font-size: 0.8rem;
  color: var(--grey-color);
  text-decoration: none;
}

.navbar-content a.actived {
  color: var(--black-color);
  font-weight: 800;
  position: relative;
}

.navbar-content a.actived::before{
  content: '';
  position: absolute;
  width: 70%;
  bottom: -10px;
  height: 3px;
  background: var(--primary-color);
  border-radius: var(--border-radius-1);
}

.hero {
  position: relative;
  margin-top: 15px;
  width: 100vw;
  height: 60vh;
}

.hero .article-content {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 60px;
}

.hero .news {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.hero .img-hero {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
}

.hero .img-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 70%, var(--black-color));
  z-index: 1;
}

article.hero .img-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

article.hero .article-content > .interactive-buttons.hero {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 95%;
  top: 0;
}

article.hero .article-content > .interactive-buttons.hero .button {
  width: 70px;
  height: 20px;
  z-index: 3;
}

.interactive-buttons a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 0.6rem;
  border: 1px solid var(--white-color);
  border-radius: var(--border-radius-1);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interactive-buttons a:first-child {
  text-transform: uppercase;
}

.interactive-buttons a:last-child {
  background: var(--primary-color);
}

.interactive-buttons a:last-child i {
  font-size: 0.8rem;
  margin-right: 5px;
}

.header-news {
  margin-bottom: 20px;
  color: var(--white-color);
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
}
.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-right: 5px;
}

.news .header-news .title {
  list-style: circle var(--white-color);
  font-size: 3rem;
  font-weight: 700;
}

.header-news .title::first-letter {
  text-transform: uppercase;
}

.others-news {
  width: 100%;
  color: var(--white-color);
}

.others-news ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.category {
  font-size: 0.7rem;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 5px;
}

.other-new .other-new-body {
  width: 80%;
}

.container {
  position: relative;
  margin-top: 20px;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.container {
  width: 100vw;
  min-height: 100vh;
  padding: 10px 55px;
}

.container .header-content {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: row;
}

.header-content .left {
  width: 70%;
  height: 100%;
}

.left > .card,
.right > .card {
  position: relative;
  width: 95%;
  height: 100%;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content .right {
  width: 30%;
  height: 100%;
}

.card .text {
  position: absolute;
  bottom: 0;
  padding: 15px;
}

.header-content .card {
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
}

.header-content .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 45%, black 100%);
  border-radius: var(--border-radius-1);
}

.card > img {
  border-radius: var(--border-radius-1);
  object-fit: cover;
}

.card .text-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 15px;
  color: var(--white-color);
}

.card > .text .text-body {
  color: var(--white-color);
  width: 80%;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.right {
  padding-right: 150px;
}

.text-body::first-letter {
  text-transform: uppercase;
}

.card > .interactive-buttons {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card > .interactive-buttons .button {
  width: 70px;
  height: 15px;
}
.main-content {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-content .left {
  width: 50%;
}

.main-content .left .news {
  display: flex;
  flex-direction: row;
}

.main-content .news-left {
  width: 40%;
  height: 100%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-content .news-right {
  width: 50%;
}

.main-content .news-right .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.news-right .card .card-text {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.news-right .card img {
  margin-top: 10px;
  margin-right: 10px;
  width: 125px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.category {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 10px 0px;
  font-weight: 800;
}

.main-content .body {
  color: var(--grey-color);
  font-size: 0.9rem;
  font-weight: 600;
}

.main-content .right {
  width: 50%;
  gap: 50px;
  display: flex;
  flex-direction: row;
}

.main-content .right .timming-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content .timming-cards .main-card {
  position: relative;
  width: 100%;
  border-radius: var(--border-radius-1);
  padding: 10px;
  box-shadow: var(--box-shadow-1);
}

.main-card .head-card .country {
  color: var(--black-color);
  font-size: 0.9rem;
  font-weight: 800;
}

.main-card .head-card .infos {
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--grey-color);
  font-size: 0.7rem;
}

.main-card .body-card ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, minmax(25px, 1fr));
  gap: 5px;
  margin-bottom: 20px;
}

.main-card .body-card li {
  font-size: 0.8rem;
  color: var(--white-color);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
}

.sub-card {
  position: relative;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: row;
}

.sub-card .location {
  width: 50%;
}

.sub-card .location .city {
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--black-color);
  margin-bottom: 5px;
}

.sub-card .location .day {
  font-size: 0.7rem;
}

.sub-card .infos {
  width: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sub-card .cloud {
  margin-right: 60px;
}

.sub-card .cloud img {
  width: 80px;
}

.sub-card .infos-text {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-card .infos-text .station {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 0.8rem;
}

.sub-card .infos-text .temperature {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 800;
  color: var(--black-color);
}

.news-aside {
  width: 90% !important;
}

.news-aside .card {
  width: 90%;
}

.ads {
  margin-top: 20px;
  width: 88%;
  height: 200px;
  background: var(--grey-color-2);
  border-radius: var(--border-radius-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ads a {
  display: flex;
  justify-content: center;
}

.ads img {
  width: 60%;
  height: auto;
}

section.videos {
  background: var(--black-color);
  color: var(--white-color);
  width: 100vw;
  min-height: max-content;
  padding: 50px;
}

section.videos .header-content {
  margin-top: 20px;
  width: 88%;
  display: flex;
  justify-content: space-between;
  height: max-content;
  margin-bottom: 50px;
}

section.videos .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

section.videos .header-content button {
  cursor: pointer;
  font-family: var(--font-family);
  width: 30px;
  height: 30px;
  padding: 0px 50px;
  border: 1px solid var(--grey-color);
  border-radius: var(--border-radius-1);
  background: transparent;
  color: var(--grey-color);
  font-size: 0.8rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.videos button.active {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
}

section.videos .videos-cards {
  width: 88%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

section.videos .card .img-card {
  position: relative;
  margin-bottom: 20px;
}

section.videos .card .img-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 70%, black 100%);
  opacity: 1;
  border-radius: var(--border-radius-1);
}

section.videos .card img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

section.videos .text-card {
  font-weight: 400;
  letter-spacing: 0.5px;
}

section.videos .videos-cards button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-color);
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--white-color);
}

section.videos .channel {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

section.videos .channel .logo {
  width: 25px;
}

section.videos .channel img {
  width: 100%;
}

section.videos .channel .text {
  letter-spacing: 0.5px;
}

section.second-news {
  width: 89%;
}

section.second-news .more-reads {
  width: 96%;
  background-color: var(--white-color);
  border-radius: var(--border-radius-1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-1);
}

section.second-news .more-reads .title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 900;
}

.more-reads ul {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.more-reads li a {
  margin-top: 20px;
  margin-right: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.more-reads li a .number {
  padding: 0px 10px;
  height: 40px;
  background: var(--grey-color-2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary-color);
}

.more-reads li a .text {
  width: 90%;
  color: var(--black-color);
  font-size: 0.9rem;
  font-weight: 700;
}

section.second-news .news-card {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

section.second-news .news-card .card {
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: var(--box-shadow-1);
}

section.second-news .news-card .img-card {
  position: relative;
  width: 100%;
  height: 100%;
}

section.second-news .news-card .interactive-buttons {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

section.second-news .news-card .interactive-buttons a.button {
  margin: 10px 10px;
  height: 10px;
}

section.second-news .news-card .img-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50%, black 100%);
  border-radius: var(--border-radius-1);
}

section.second-news .news-card .img-card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

section.second-news .news-card .text-card {
  bottom: 0;
  position: absolute;
  padding: 20px;
  color: var(--white-color);
}

section.second-news .news-card .category {
  color: var(--white-color);
  font-weight: 400;
}

section.second-news .text-card .body {
  font-weight: 500;
  margin-bottom: 10px;
}

section.second-news .columns-form {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 20px;
}

section.second-news .columns-form .column {
  width: 100%;
  height: 100%;
}

section.second-news .columns-form .column-title {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--black-color);
  font-size: 1.5rem;
}

section.second-news .columns-form .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

section.second-news .columns-form ul {
  list-style: none;
}

section.second-news .columns-form .card img {
  width: 65px;
  height: 65px;
  border-radius: var(--border-radius-2);
  object-fit: cover;
}

section.second-news .card .body-card {
  padding-left: 10px;
}

section.second-news .body-card .title {
  color: var(--black-color);
  font-weight: 700;
  padding-bottom: 5px;
}

section.second-news .body-card .body {
  color: var(--black-color);
  font-size: 0.8rem;
  font-weight: 600;
}

section.second-news .ads {
  width: 100%;
  height: 100%;
  background: var(--grey-color-2);
  border-radius: var(--border-radius-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

section.second-news .ads img {
  width: 100%;
  padding: 50px;
}

section.second-news .form {
  width: 100%;
  height: 100%;
}

section.second-news form {
  background: var(--white-color-2);
  border-radius: var(--border-radius-1);
}

section.second-news .form .form-header {
  padding: 20px;
}

section.second-news .form .form-category {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 10px;
}

section.second-news .form .form-title {
  font-size: 2rem;
  font-weight: 800;
  color: var(--black-color);
  margin-bottom: 10px;
}

section.second-news .form .form-subtitle {
  color: var(--black-color);
}

section.second-news .form .form-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

section.second-news .form .form-control {
  width: 95%;
  height: 40px;
  background: var(--white-color);
  border-radius: var(--border-radius-1);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
}

section.second-news .form .form-control input {
  background: transparent;
  outline: none;
  border: none;
  width: 82%;
  height: 100%;
}

section.second-news .form span {
  font-size: 1.3rem;
  color: var(--black-color);
  font-weight: 600;
}

section.second-news .form .form-control button {
  border: 1px solid var(--white-color);
  width: 35px;
  height: 35px;
  background: var(--grey-color);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow-1);
  color: var(--white-color);
}

section.second-news .form span.sucess {
  margin-top: 10px;
  color: var(--primary-color);
  font-size: 0.8rem;
  font-weight: 500;
}

section.second-news .form .card .img-card {
  margin-right: 10px;
}

section.second-news .form .card .img-card img {
  width: 75px;
  height: 75px;
  border-radius: var(--border-radius-1);
}

section.second-news .form .card .body {
  color: var(--black-color);
  font-size: 0.8rem;
}

.horoscopo {
  margin: 20px;
  width: 95%;
  background: var(--white-color-1);
  box-shadow: var(--box-shadow-1);
  padding: 20px;
}

.horoscopo .head-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horoscopo .head-content .title {
  color: var(--black-color);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.horoscopo .main-content {
  margin-top: 0px 30px;
  width: 100%;
  display: flex;
}

.horoscopo .main-content ul {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  place-items: center;
}

.horoscopo .main-content ul li {
  width: 100%;
}

.horoscopo .main-content .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.horoscopo .main-content .icon .img {
  display: flex;
  justify-content: center;
}

.horoscopo .main-content .icon img {
  width: 50px;
  filter: invert(21%) sepia(91%) saturate(5554%) hue-rotate(327deg)
    brightness(98%) contrast(105%);
}

.third-news {
  padding: 20px;
}

.third-news .head-content {
  color: var(--black-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
}

.third-news .body-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.third-news .column-title {
  padding: 20px 0px;
}

.third-news ul {
  list-style: none;
}

.third-news .news .card {
  display: flex;
  flex-direction: column;
}

.third-news .card-news {
  position: relative;
  height: 100%;
}

.third-news .card-news .img-card {
  position: relative;
  height: 100%;
  width: 100%;
}

.third-news .card-news .img-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 70%, black);
  opacity: 1;
  border-radius: var(--border-radius-1);
}

.third-news .card-news .img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-1);
}

.third-news .card-news .interactive-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  z-index: 2;
}

.third-news .card-news .interactive-buttons .button {
  margin: 0px 20px;
}

.third-news .card-news .text-card {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding: 20px;
}

.third-news .card-news .text-card .category {
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 400;
}

.third-news .card-news .text-card .body {
  color: var(--white-color);
  font-weight: 500;
}

.third-news .second-news .card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-news .second-news .img-card {
  width: 500px;
  height: 125px;
}

.third-news .second-news .img-card img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 20px;
}

.third-news > .ads {
  margin-top: 30px;
}

.third-news > .ads img {
  width: 60% !important;
  height: auto;
}

.third-news .second-news .card {
  align-items: flex-start;
}

.second-videos {
  background: var(--primary-color);
  min-height: max-content;
}

.second-videos .header-content {
  padding: 20px;
  width: 84%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: var(--white-color);
}

.second-videos .header-content .logo {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

.second-videos .header-content ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.second-videos .header-content ul li {
  position: relative;
  font-weight: 300;
}

.second-videos .header-content ul li::first-letter {
  text-transform: uppercase;
}

.second-videos .header-content ul li.actived a{
  position: relative;
  font-weight: 700;
}

.second-videos .header-content ul li.actived{
  width: 100%;
  position: relative;
}

.second-videos .header-content ul li.actived a::after{
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  background: var(--white-color);
  bottom: -10px;
  left: 0;
  border-radius: var(--border-radius-1);
  
}

.second-videos .body-content {
  width: 87%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
}

.second-videos .body-content .left {
  width: 100%;
  height: 100%;
}

.second-videos .left > .card {
  height: max-content;
}

.second-videos .body-content .img-card {
  position: relative;
  width: max-content;
  height: max-content;
}

.second-videos .body-content .left .img-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 50%, black);
  border-radius: var(--border-radius-1);
}

.second-videos .body-content .left .body {
  width: 100%;
  height: 100%;
  position: absolute;
}

.second-videos .body-content .left img {
  width: 40vw;

  border-radius: var(--border-radius-1);
  object-fit: cover;
}

.second-videos .body-content .left .text-video {
  position: absolute;
  bottom: 0;
  color: var(--white-color);
  padding: 20px;
  font-weight: 600;
}

.second-videos .body-content .right {
  position: relative;
  justify-content: center;
  width: 66%;
  height: 100%;
  border-radius: var(--border-radius-1);
}

.second-videos .body-content .right .title {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--white-color);
  padding: 20px 0;
  text-transform: uppercase;
  padding-left: 20px;
}

.second-videos .body-content .videos-cards {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-left: 20px;
}

.second-videos .body-content .videos-cards .card {
  position: relative;
  width: max-content;
  height: max-content;
}

.second-videos .right .videos-cards .img-card {
  width: 100%;
  position: relative;
}

.second-videos .right .videos-cards .img-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 30%, black 100%);
  border-radius: 20px;
  opacity: 0.9;
}

.second-videos .right .videos-cards img {
  width: 21vw;
  height: 18vh;
  border-radius: var(--border-radius-1);
  object-fit: cover;
}

.second-videos .card .body {
  width: 100%;
  height: max-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.second-videos .card .body .play-button {
  padding: 10px;
}

.second-videos .card .body .play-button i {
  background: var(--white-color);
  color: var(--primary-color);
  padding: 3px 5px;
  border-radius: 50%;
  font-weight: 800;
  box-shadow: var(--box-shadow-1);
}

.second-videos .right .card .body .text-video {
  width: 90%;
  height: max-content;
  position: absolute;

  color: var(--white-color);
  font-size: 0.8rem;
  padding: 10px;
}

.container.five-news {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.news-football {
  width: 88%;
  margin-top: 30px;
  display: grid;
  height: max-content;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.news-football .ads {
  width: 100%;
  height: 100%;
}

.news-football .news {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin-left: 50px;
}

.news-football .news .card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 0.1fr 1fr);
  place-items: center;
  justify-content: center;
  gap: 10px;
}

.news-football .news .card img {
  width: 100px;
  height: 100px;
}

.football-gadget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white-color-2);
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
}

.news-football .football-gadget .head-content {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.football-gadget .head-content img {
  width: 80px;
}

.news-football .football-gadget .body-content {
  width: 100%;
  height: 100%;
}

.football-gadget .group {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.football-gadget .group span {
  font-weight: 500;
  color: var(--primary-color);
  font-size: 1rem;
}

.football-gadget .group span.disabled {
  color: var(--grey-color);
}

.football-gadget .group .group-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--black-color);
}

.football-gadget .scoreboard {
  width: 100%;
  padding-left: 15px;
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  place-items: center;
  gap: 5px;
  margin: auto;
}

.football-gadget .scoreboard .score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.football-gadget .scoreboard .home-team,
.football-gadget .scoreboard .away-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.football-gadget .scoreboard .team-name {
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 400;
}

.football-gadget .scoreboard .home-team,
.football-gadget .scoreboard .away-team {
  color: var(--black-color);
  font-weight: 800;
  font-size: 1.1rem;
}

.football-gadget .scoreboard .team-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.1px solid var(--black-color);
  object-fit: cover;
}

.football-gadget .time {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.cartoon-horoscopo {
  margin-top: 50px;
  width: 88%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cartoon-horoscopo .cartoon {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--grey-color-2);
  border-radius: var(--border-radius-1);
}

.cartoon .title {
  padding: 30px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--black-color);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cartoon-horoscopo .cartoon .img-cartoon {
  padding: 0px 30px;
}

.cartoon-horoscopo .cartoon img {
  width: 100%;
}

.cartoon-horoscopo .cartoon .nav {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartoon-horoscopo .cartoon .nav span {
  font-family: var(--font-family);
  font-weight: 600;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  box-shadow: 0px 7px 20px -5px var(--black-color);
}

.cartoon-horoscopo .nav .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartoon-horoscopo .nav .infos .name {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--black-color);
}

.cartoon-horoscopo .nav .infos .creator {
  margin-top: 5px;
}

.cartoon-horoscopo .jornal {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #5b4797, #f20f6f);
  border-radius: var(--border-radius-1);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.jornal a{
  display: flex;
  justify-content: center;
}

.cartoon-horoscopo .jornal .title {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
}

.cartoon-horoscopo .jornal .img {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.cartoon-horoscopo .jornal img {
  width: 70%;
}

.cartoon-horoscopo .second-horoscopo {
  width: 100%;
}

.cartoon-horoscopo .second-horoscopo .head-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartoon-horoscopo .second-horoscopo .title {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--black-color);
  margin-bottom: 10px;
}

.cartoon-horoscopo .second-horoscopo .body-content {
  padding: 30px;
}

.cartoon-horoscopo .second-horoscopo ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 15px;
}

.second-horoscopo .body-content ul img {
  width: 50px;
  filter: invert(21%) sepia(91%) saturate(5554%) hue-rotate(327deg)
    brightness(98%) contrast(105%);
}

.second-horoscopo .body-content .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-horoscopo .body-content .icon .name {
  color: var(--black-color);
}

.second-horoscopo .body-content .icon .name::first-letter {
  text-transform: uppercase;
}

.webstories-survey {
  margin-top: 30px;
  width: 88%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.webstories {
  width: 100%;
}
.webstories .title {
  padding: 30px 30px;
  color: var(--black-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
}

.webstories .stories-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 30px;
  padding-bottom: 30px;

}

.stories-container ul{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.webstories .stories-container .storie {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.webstories .stories-container .storie .img {
  width: 75px;
  height: 75px;
  border: 1px solid red;
  border-radius: 50%;
  padding: 5px;
}

.webstories .stories-container .storie img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.webstories .stories-container .storie .infos {
  width: 40%;
  padding-left: 10px;
  color: var(--black-color);
  font-weight: 800;
}

.eight-news {
  width: 100%;
  height: 100%;
}

.eight-news .news-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eight-news .news-right .card {
  display: flex;
  flex-direction: row;
}

.survey {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-1);
}

form {
  margin-bottom: 30px;
}

.survey .head-content {
  padding: 30px;
}

.survey .survey-subtitle {
  color: var(--primary-color);
  font-weight: 800;
}

.survey-subtitle::first-letter {
  text-transform: uppercase;
}

.survey-title {
  margin-top: 30px;
  color: var(--black-color);
  font-weight: 800;
  font-size: 1.2rem;
}
.survey-title::first-letter {
  text-transform: uppercase;
}

.survey .body-content {
  padding: 0px 30px;
}

.radio-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radio {
  font-size: 1.2rem;
  font-weight: 400;
  vertical-align: middle;
  color: var(--black-color);
  position: relative;
  padding-left: 50px;
}

.radio input[type="radio"] {
  display: none;
}

.radio span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  display: block;
  cursor: pointer;
}

.radio span::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: bloc10;
  background: var(--primary-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 250ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span::after {
  transform: translate(-50%, -50%) scale(1);
}

.survey form button {
  margin-left: 30px;
  margin-top: 30px;
  padding: 15px 30px;
  border: none;
  border-radius: var(--border-radius-1);
  background: var(--primary-color);
  color: var(--white-color);
}

.news-to-news {
  width: 88%;

  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.news-to-news .nine-news {
  width: 100%;
  height: 100%;
}

.news-to-news .ads {
  margin-top: 0;
  width: 100%;
  height: 100%;
}

.news-to-news .card-news {
  position: relative;
  width: 100%;
  height: 100%;
}

.news-to-news .card-news .interactive-buttons {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 2;
}

.news-to-news .card-news .interactive-buttons .button {
  margin: 5%;
}

.news-to-news .card-news .text-card {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 20px;
  z-index: 2;
}

.news-to-news .card-news .text-card .body .category {
  color: var(--white-color);
}

.news-to-news .card-news .text-card .body {
  color: var(--white-color);
  font-weight: 600;
  width: 93%;
}

.news-to-news .card-news .img-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.news-to-news .card-news .img-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--black-color));
  border-radius: var(--border-radius-1);
}

.news-to-news .card-news .img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-1);
}

button.load {
  position: relative;
  
  left: 52%;
  
  transform: translate(-50%, -50%);
  margin-top: 30px;
  margin-bottom: 50px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--primary-color);
  background: transparent;
  border-radius: var(--border-radius-1);
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
}

footer {
  margin-top: 50px;
  width: 100vw;
  min-height: 30vh;
  background: var(--white-color-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .logo {
  margin-top: 30px;
  width: max-content;
}

footer .logo img {
  width: 150px;
}

footer .social-medias ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer .social-medias li {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-medias li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

footer .social-medias i {
  position: relative;
  font-size: 1.5rem;
  color: var(--primary-color);
}

footer .navbar-texts {
  margin: 30px 0px;
  list-style: none;
  display: flex;
  gap: 10px;
}

footer .navbar-texts li a {
  color: var(--black-color);
}


 .card .body{
  color: var(--grey-color);
}

.container.second-news .news-card  .body{
  color: var(--white-color);
}

@media screen and (max-width: 1200px) {
  .header-content .news .left {
    width: 100vw;
  }

  .header-content .news .right {
    width: 100%;
  }

  .main-content {
    flex-direction: column;
    gap: 20px;
  }
  .main-content .left {
    width: 93%;
  }
  .main-content .right {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .main-content .news-aside {
    width: 100% !important;
  }

  section.second-news .news-card .interactive-buttons a.button {
    margin: 0;
  }

  .third-news .card-news .interactive-buttons .button {
    margin: 0;
  }
}

@media screen and (max-width: 840px) {
  .header-container {
    padding: 0;
  }

  header ul {
    padding: 0px 60px;
    gap: 50px;
  }

  header ul li.left .button:last-child,
  header ul li.right {
    display: none;
  }

  header ul li.left {
    width: 50%;
    order: 2;
    gap: 20px;
  }

  header ul li {
    justify-content: start;
  }

  header ul li.left .uil-bars {
    order: 2;
  }

  nav .navbar-content {
    margin-top: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    height: max-content;
    padding: 0px 40px;
  }
  .navbar-content .navbar-texts {
    gap: 30px;
  }
  nav .navbar-content li a {
    font-size: 1.5rem;
  }

  .hero {
    height: max-content;
  }
  .hero .article-content {
    position: relative;
    width: 100%;
    height: 100%;
    top: 10px;
    display: flex;
    order: 2;
    left: 0;
  }

  .hero .news {
    position: relative;
    width: 100%;
    top: 30%;
    left: 0;
    height: max-content;
  }

  .others-news {
    height: max-content;
  }

  .hero .others-news ul {
    flex-direction: column;
    background: var(--white-color);
    padding: 0 60px;
    left: 0;
  }

  .news .header-news .title {
    font-size: 3rem;
    width: 85%;
    color: var(--white-color);
  }

  .header-news {
    padding: 125px 60px;
    width: 100%;
  }

  .hero .title {
    color: var(--black-color);
  }

  .hero .other-new .other-new-body {
    color: var(--black-color);
    font-size: 1.3rem;
  }

  .hero .img-hero {
    position: absolute;
    top: 0;
    display: flex;
    height: 50%;
    width: 100%;
    order: 1;
  }

  .hero .img-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      transparent 70%,
      var(--black-color) 100%
    );
  }

  .container .header-content {
    height: max-content;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .container.second-videos .header-content {
    overflow: hidden;
  }

  .first-news .left > .card,
  .first-news .right > .card {
    width: 100%;
  }

  .first-news .card > img {
    width: 80vw;
  }

  .header-content .right {
    width: 90%;
  }

  .header-content .left {
    width: 90%;
  }
  .main-content .left .news {
    flex-direction: column;
  }
  .main-content .news-left {
    width: 100%;
  }

  .main-content .news-right {
    width: 100%;
  }

  .first-news .category {
    font-size: 1.2rem;
  }

  .first-news .news-left {
    display: none;
  }

  .news-right .card img {
    width: 220px;
    height: 125px;
  }
  .news-right .card .card-text {
    width: 100%;
    height: 100%;
    padding-left: 20px;
  }
  .news-right .card .card-text .body {
    width: 80%;
    font-size: 1.4rem;
    color: var(--black-color);
  }

  .main-content .right {
    display: none;
  }

  .main-content .news-right .card {
    align-items: flex-start;
  }

  article.hero
    .article-content
    > .interactive-buttons.hero
    .button:first-child {
    margin: 0px 60px;
  }

  article.hero .article-content > .interactive-buttons.hero {
    width: 90%;
  }

  section.second-news .more-reads {
    width: 90%;
  }

  .card > .text .text-body {
    font-size: 1.2rem;
  }

  .more-reads ul {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  section.second-news .news-card {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  section.second-news .news-card .img-card img {
    width: 70vw;
    height: 100%;
  }

  section.second-news .columns-form {
    width: 96%;
    grid-template-columns: repeat(1, 1fr);
  }

  section.second-news .columns-form .ads {
    height: 100%;
  }

  section.second-news .columns-form .ads img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  section.second-news .columns-form .card {
    display: none;
  }

  .horoscopo {
    margin: 0;
    width: 90%;
  }

  .third-news .body-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .category {
    font-size: 1.2rem;
  }

  .container.videos .header-content {
    overflow: hidden;
  }

  section.videos .videos-cards {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  section.videos .card img {
    width: 70vw;
  }

  .second-news ul .card .category {
    margin: 0;
    margin-bottom: 10px;
  }

  .third-news .body {
    font-size: 1.5rem;
    color: var(--black-color);
  }

  .third-news .card-news .text-card .body {
    font-size: 1.1rem;
  }

  .more-reads li a {
    justify-content: center;
    align-items: center;
  }

  .third-news .second-news .img-card {
    height: 12vh;
    width: 40vw;
  }
  .third-news ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .second-videos .header-content {
    flex-direction: column;
  }

  .second-videos .nav {
    width: 100%;
    overflow-x: scroll;
  }

  .second-videos ul {
    white-space: nowrap;
  }

  .second-videos .header-content {
    padding: 30px 0px;
  }

  .second-videos .nav li {
    font-size: 1.3rem;
  }

  .second-videos .body-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .second-videos .body-content .left {
    width: 100%;
  }

  .second-videos .left > .card,
  .right > .card {
    width: max-content;
  }

  .second-videos .body-content {
    padding: 0;
  }

  .second-videos .body-content .left .text-video {
    width: 100%;
    font-size: 1.5rem;
    padding: 20px;
    bottom: 0;
  }

  .second-videos .body-content .left img {
    width: 70vw;
  }

  .second-videos .body-content .videos-cards {
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .second-videos .right .videos-cards img {
    width: 60vw;
  }

  .second-videos .card .body {
    height: 100%;
  }

  .second-videos .right .card .body .text-video {
    bottom: 20px;
    left: 20px;
    font-size: 1.3rem;
  }

  .news-football {
    grid-template-columns: repeat(1, 1fr);
  }

  .news-football .news {
    width: 100%;
    height: max-content;
    margin: 30px;
    gap: 30px;
  }

  .news-football .football-gadget .body-content {
    padding: 00px 0px;
  }

  .football-gadget .scoreboard {
    grid-template-columns: repeat(3, 0.315fr);
  }

  .football-gadget .time {
    margin: 20px 0px;
  }

  .news-football .news .card {
    grid-template-columns: 0.1fr 1fr;
    place-items: start;
  }

  .news-football .news .card-text {
    width: 100%;
    text-align: start;
  }

  .news-football .news .body {
    width: 80%;
    font-size: 1.4rem;
    color: var(--black-color);
  }

  .webstories .stories-container .storie .infos{
    width: 71%;
 
  }

  .cartoon-horoscopo {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .cartoon-horoscopo .cartoon,
  .cartoon-horoscopo .jornal,
  .cartoon-horoscopo .second-horoscopo {
    width: 88%;
  }

  .cartoon-horoscopo .second-horoscopo .body-content {
    padding: 0;
  }

  .webstories-survey {
    grid-template-columns: repeat(1, 1fr);
  }

  .survey {
    width: 90%;
  }

  .news-to-news {
    grid-template-columns: repeat(1, 1fr);
  }

  .eight-news {
    padding-left: 30px;
  }

  .news-to-news .nine-news .card {
    display: flex;
    flex-direction: row;
  }

  .news-to-news .ads{
    width: 90%;
  }

  .ten-news .body {
    font-size: 1.5rem;
    color: var(--black-color);
  }

  footer .navbar-texts {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    gap: 30px;
  }

  footer .navbar-texts li:nth-child(even) {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header-news {
    padding: 125px 30px;
    width: 100%;
  }

  .hero .others-news ul {
    padding: 0 35px;
  }

  .container {
    padding: 30px;
  }

  .football-gadget .scoreboard {
    grid-template-columns: repeat(3, 0.3fr);
  }

  .second-videos .body-content .left .text-video {
    width: 90%;
    font-size: 1rem;
  }

  .second-videos .right .card .body .text-video {
    left: 0px;
    width: 90%;
    font-size: 0.8rem;
  }

  .webstories .title {
    padding: 30px 10px;
  }

  .webstories .stories-container {
    padding-left: 0px;
  }
  .eight-news {
    padding-left: 0px;
  }
}
