@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary-color: #ff0a6b;

  --grey-color: #726f73;
  --black-color: #19191a;
  --white-color: #f9f9f9;

  --font-family: "Roboto", sans-serif;

  --border-radius-1: 20px;
  --border-radius-2: 50%;

  --box-shadow-1: 0px 5px 15px -9px var(--grey-color);
}

*,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background: var(--white-color);
  color: var(--grey-color);

  overflow-x: hidden;
  box-sizing: border-box;
}

header {
  position: relative;
  width: 95vw;
  margin: 30px 33px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  width: 100%;
  display: flex;
  font-weight: 500;
  color: var(--black-color);
  flex-direction: row;
  justify-content: space-around;
}

ul li.left {
  display: flex;
  align-items: center;
}

ul li.left .uil-bars {
  font-size: 1.3rem;
}

ul li.left .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 15px;
}

ul li.left .button {
  background: var(--white-color);
  border-radius: var(--border-radius-1);
  padding: 10px 15px;
  box-shadow: var(--box-shadow-1);
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul li.left .button i {
  font-size: 1.3rem;
  margin-right: 10px;
  color: var(--primary-color);
}

ul li.center {
  font-size: 3rem;
}

ul li.right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 30px;
}

ul li.right .form-control {
  width: 50%;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-1);
}

ul li.right input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
}

ul li.right button {
  background: var(--primary-color);
  border: none;

  border-radius: var(--border-radius-2);
  padding: 8px 10px;
  color: var(--white-color);
  box-shadow: var(--box-shadow-1);
}

nav {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav .navbar-content {
  width: 90%;
  display: flex;
  justify-content: center;
}

.navbar-content .navbar-texts {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 2rem;
}
.navbar-content a {
  font-size: 0.8rem;
  color: var(--grey-color);
  text-decoration: none;
}

.navbar-content a.actived {
  color: var(--black-color);
  font-weight: 800;
  border-bottom: 2px solid var(--primary-color);
}

article {
  position: relative;
  margin-top: 15px;
  width: 100vw;
  height: 65vh;
  background: linear-gradient(
      to bottom,
      transparent 20%,
      rgba(0, 0, 0, 0.819) 100%
    ),
    url(./Assets/r692550_1296x729_16-9.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center bottom;
}

.article-content {
  padding: 20px 65px;
  width: 90%;
}

 .interactive-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.interactive-buttons a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 0.6rem;
  border: 1px solid var(--white-color);
  border-radius: var(--border-radius-1);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interactive-buttons a:first-child {
  text-transform: uppercase;
}

.interactive-buttons a:last-child {
  background: var(--primary-color);
}

.interactive-buttons a:last-child i {
  font-size: 0.8rem;
  margin-right: 5px;
}

.article-content .news {
  position: absolute;
  bottom: 20px;
  left: 60px;
  color: var(--white-color) !important;
}

.header-news {
  margin-bottom: 20px;
}

.news .header-news .category {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
}
.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--primary-color);
  margin-right: 5px;
}



.news .header-news .title {
  list-style: circle var(--white-color);
  font-size: 3rem;
  font-weight: 700;
}

.header-news .title::first-letter {
  text-transform: uppercase;
}

.others-news {
  width: 100%;
}

.others-news ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.other-new .category {
  font-size: 0.7rem;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 5px;
}

.other-new .other-new-body {
  width: 80%;
}

 .container {
  margin-top: 20px;
  positin: relative;
  padding: 0px 50px;
  width: 100vw;
  min-height: 100vh;
}

.container{
  width: 100vw;
  min-height: 100vh;
  padding: 10px 55px;
}

.container .header-content{
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: row;
}

.header-content .left{
  width: 70%;
  height: 100%;
 
}

.left > .card, .right > .card{
  position: relative;
  width: 95%;
  height: 100%;
 
} 

 .card > img{
  width: 100%;
  height: 100%;
}

.header-content .right{
  width: 30%;
  height: 100%;
  
}


.card .text {
  position: absolute;
  bottom: 0;
  padding: 15px;
}

.header-content .card{
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
}

.header-content .card::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 45%,black 100%);
  border-radius: var(--border-radius-1);

}



.card > img{
  border-radius: var(--border-radius-1);
}

.card .text-category{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 15px;
  color: var(--white-color);
}

.card > .text .text-body{
  color: var(--white-color);
  width: 80%;
  font-size: 1.5rem;
  margin-bottom: 15px;

}

.right{
  padding-right: 150px;
}

.text-body::first-letter{
  text-transform: uppercase;
}

.card > .interactive-buttons{
  position: absolute;
  width: 95%;
  padding: 10px;
}